<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Frame2</title>
</head>

<body>
    <div>
        <label for="alias">Псевдоним</label>
        <input id="alias" type="text">
        <br>
        <label for="chat">Сообщения чата</label>
        <textarea id="chat" rows="10" cols="50" readonly></textarea>
        <br>
        <label for="message">Сообщение</label>
        <textarea id="message" rows="3"></textarea>
        <br>
        <p>
            <button id="submit">Отправить</button>
        </p>
    </div>
</body>

</html>
